<%= form_with url:  session_create_path, local: true do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, 'Password' %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Log in' %>
  </div>
<% end %>
