<!DOCTYPE html>
<html>
  <head>
    <title>Recall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= current_user.name if current_user %>
    <%= link_to 'logout', loguot_path if current_user %>
    <%= link_to 'log in', login_path if current_user.nil? %>
    <%= yield %>
  </body>
</html>
