<li><%= "You here as: #{current_user.name}" if current_user %></li>
<li><%= link_to 'Projects' %></li>
<li><%= link_to 'Parts' %></li>
<li><%= link_to 'Tasks' %></li>
<li><%= link_to 'Comments' %></li>